<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>
  <div class="box">
    <!--! So ilalagay ko yung control flow statements (i.e. if-statements, loops) sa loob ng html na gusto kong i-edit o mag-add ng html -->
    <% newTodos.forEach(newTodo => { %> <!-- Hindi na natin ginamitan ng template yung newTodos dito, gagamitan lang kaya kapag nasa loob ng html?-->
      <div class="item">
        <input type="checkbox">
        <p><%= newTodo %></p>
      </div>
    <% }) %>
    <form action="/" method="POST">
      <div class="item">
        <input name="newTodo" type="text" placeholder="New Item" autocomplete="off">
        <button type="submit" name="submitTodo" value=<%= listTitle %>>+</button>
      </div>
    </form>
  </div>

  <%- include("footer") -%>